<footer>
  <div class="container-footer">
    <div class="left-footer">
      <img src="assets/imagens/logo.png" alt="Logo Oficial">
      <p>Horário de atendimento: 8h às 18h</p>
    </div>
    <div class="right-footer">
      Siga-nos nas redes sociais
      <div class="icons-medias">
        <img src="assets/icones/instagram.png" alt="Icone Instagram">
        <img src="assets/icones/twitter.png" alt="Icone Twitter">
        <img src="assets/icones/whatsapp.png" alt="Icone Whatsapp">
      </div>
    </div>
  </div>
  <p>Desenvolvido por Tiago Ferreira</p>
</footer>