<ng-container>
  <h1>Promoções</h1>
  <div class="card-section">
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
    <app-card-search></app-card-search>
  </div>
  <h1>Depoimentos</h1>
  <div class="card-section">
    <app-cart-attest></app-cart-attest>
    <app-cart-attest></app-cart-attest>
    <app-cart-attest></app-cart-attest>
  </div>
</ng-container>