.card-attest{
  padding: 15px 15px;
  display: flex;
  flex-direction: row;
  .group-header{
    padding: 0 0;
    margin-right: 10px;
    img{
      margin: 0;
    }
  }
  .content{
    width: 200px;
    text-align: left;
    font-weight: 500;
    line-height: 18px;
    color: #49454F;
    // font-size: 11px;
  }
}